<html>  
<head>  
<link rel="stylesheet" href="css/index.css">
<style>  
body{  
  font-family: Calibri, Helvetica, sans-serif;
  background-image: url("/img/gunmetal.png");
}  
.container1{
    align-content: center;
    height:645px;
    width:65%;
    background-color: black;
}
.container2{
    top:0px;
    margin-left: auto;
    width:25%;
}
.lay{
    color:white;
    font-family: 'Roboto', sans-serif;
}
.lay1{
    color:black;
    font-family: 'Roboto', sans-serif;
}
.minicontainer
{
    left:150px;
    padding-left: 150px;
}
</style>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

</head>  
<body>  
    <div class="container-fluid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-9 col-md-6 col-lg-8" style="background-color:cornsilk; height:650px;"><br>
              <h2 class="lay1">Fixpert stands with you against Corona</h2><br>
             <h3 class="lay1 minicontainer" > 
                  <img src="/img/mask.png" style="height:40px ; width:40px;"  > &nbsp;&nbsp; Wear masks when you go out <br><br>
                  <img src="/img/alcohol-gel.png" style="height:40px ; width:40px;">&nbsp;&nbsp;  Use Hand Sanitizer    <br><br>
                  <img src="/img/sd.png" style="height:40px ; width:40px;"> &nbsp;&nbsp;  Maitain Social Distancing <br><br>
                  <img src="/img/home.png" style="height:40px ; width:40px;"> &nbsp;&nbsp;  Stay home if u feel ill <br><br>      
                   <br><br>
                   <img src="/img/shield.png" style="height:40px ; width:40px;"> &nbsp;&nbsp;Appareils doc ensures safe services for your Service Requests

                </h3>  
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4" style="height: 650x;" >
              &nbsp;&nbsp;&nbsp;  <a href="index" class="logo"><img src="/img/fixpert.png" alt="" style="width: 360px;height: 120px;padding-left: 50px;padding-top:2px ;padding-bottom: 2px;margin-top: 3px;"></a>
                
                <br>

                <h3 class="lay">&nbsp;&nbsp;Login now </h3> <br>
              <form action="/usr/login" method="POST">
               <div class="form-group lay">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control lay" placeholder="Enter email" id="email" name="email">
               </div>
               <div class="form-group lay">
               <label for="pwd">Password:</label>
              <input type="password" class="form-control lay" placeholder="Enter password" id="pwd" name="password">
               </div>
              <div class="form-group form-check ">
              <label class="form-check-label lay">
                 Don't have an account ? <a href="registration">sign up</a>
              </label>
                </div>
              <button type="submit" class="btn btn-primary">Submit</button>
                 </form> 
                </div>
          </div>
        </div>
      </div>
          
      
        </body>
    </html> 